.column-resize-toggle {
    bottom: 8px;
    cursor: pointer;
    right: 260px;
    position: absolute;
    z-index: 800 !important;
}

.resize-icon, .copy-icon {
    fill: #949aab !important;
    transition: fill 100ms ease-in-out;
}

.resize-icon:hover, .copy-icon:hover {
    fill: #509ee3 !important;
}

.copy-button {
    cursor: pointer;
    position: sticky;
    right: 20px;
    text-align: right;
    top: 10px;
    width: 100%;
    z-index: 100000 !important;
}

body .ReactVirtualized__Grid:first-of-type .TableInteractive-cellWrapper {
    border-right: none !important;
}

body .TableInteractive-cellWrapper {
    background-color: none;
    border-bottom: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
    cursor: pointer !important;
}

body.resize-column .TableInteractive-cellWrapper {
    background-color: none;
    border-bottom: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
    cursor: pointer !important;
    max-width: 500px !important;
}

.cell-viewer-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(76, 87, 115, 0.15);
}

.cell-viewer-box {
    background-color: #f9fbfc;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px 0px;
    box-sizing: border-box;
    left: 50%;
    line-height: 1.5;
    max-height: 90%;
    max-width: 800px;
    min-height: 300px;
    min-width: 500px;
    overflow-y: scroll;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1000;
}

.cell-viewer-box pre {
    margin-top: -20px;
}

.string {
    color: #5f8f2f;
}

.null {
    color: #dbb428;
}

.boolean {
    color: #3080c5;
}

.number {
    color: #c74c4c;
}

.key {
    color: #7c52a1;
}